/* Global styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  
  a {
    text-decoration: none;
    color: #000;
  }
  
  header {
    background-color: #f2f2f2;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav li:last-child {
    margin-right: 0;
  }
  
  nav a:hover {
    color: #666;
  }
  
  section#bio {
    padding: 40px;
    text-align: justify;
  }
  
  section#bio h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  section#bio p {
    margin-bottom: 20px;
    line-height: 1.5;
  }
  
  footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
  }
  
  /* Media queries */
  @media (max-width: 768px) {
    header {
      flex-direction: column;
      text-align: center;
    }
    
    nav {
      margin-top: 20px;
    }
    
    section#bio {
      padding: 20px;
    }
    
    section#bio h2 {
      font-size: 24px;
    }
  }
  